#frame{
  width: 360px;
  height: 600px;
  background-image: url(back.jpeg);
}

#nav{
width: 360px;
height: 60px;
background-color: #00372D;

}

  

#menu{
width: 25px;
height: 25px;
padding-left: 17px;
padding-top: 15px;

}

#logo{
  width: 40px;
  height: 40px;
  cursor: pointer;
}


#profile{
width: 27px;
height: 27px;
}


#links{
  width: 350px;
  height: 40px;
  margin-top: 80px;

}  

#links a{
  display: inline-block;
  border-radius: 10px;
  border: 2px solid yellow;
  color: yellow;
  padding: 25px 30px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  margin-left: 13px;
  background-color: black;
  text-align: center;
}

#links #adv{
  color: black;
  background: yellow;
}

#footer{
  padding-left: 75px;
  margin: auto;
  margin-top: 300px;
}

#footer p{
  font-weight: bold;
  font-size: 10px;
  font-family: sans-serif;
  text-align: center;
  margin-right: 80px;
  color: lightcyan;
}

.face{
  width: 20px;
  height: 20px;
}

.insta{
  width: 20px;
  height: 20px;
}

.twitt{
  width: 20px;
  height: 20px;
}

.you{
  width: 20px;
  height: 20px;
}

